
.left-header {
  text-align: left;
  float: left;
  width: 47%;
  padding: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid lightgrey;
}

.right-header {
  text-align: right;
  float: right;
  width: 46%;
  padding: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid lightgrey;
}

.header-link {
  text-decoration: none;
}

/* ///////////////////////////////////////////////////////// */

.memes-container {
  height: 550px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.meme-item {
  /* background-color: tomato; */
  border: 1px solid lightgrey;
}

.meme-img {
  height: 100px;
}


/* //////////////////////////////////////////////////////////// */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
